<%- include("../partials/header") %>

<div class="container">
    <h1 class="text-center mb-3">Edit Review for <%= campground.name %></h1>

    <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=PUT" method="POST" class="form-group">
        <div class="row">
            <div class="form-group col-md-6 mx-auto">
                <label for="review[text]">Review</label>
                <input type="text" value="<%= review.text %>" name="review[text]" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mx-auto">
                <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>