<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add A New Campground!</a></p>
        </div>
    </header>

    <div class="row d-flex flex-wrap">
        <% campgrounds.map(campground => { %>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card img-thumbnail p-0 mb-3">
                    <img src="<%= campground.image %>" alt="campground" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <% if (campground.rating === 0) { %>
                            <em>No reviews yet.</em>
                            <% } else { %>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                    </div>
					<p class="mx-auto"><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer") %>